@import "../../resources/fonts/Poppins/Poppins.css";

.usernameLabel {
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-text-fill: #4d4d4d;
    -fx-font-weight: bold;
}

#availableGamesListView {
    -fx-background-color: #d0d0d0;
    -fx-control-inner-background: #d0d0d0;
    -fx-text-fill: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #eaeaea;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.list-view {
    -fx-selection-bar: #505050;
    -fx-selection-bar-non-focused: #505050;
}

.list-cell:hover {
    -fx-selection-bar: #454545;
}