.gameBackground {
    -fx-background-color: #00C6AD;
}
.game-grid {
    -fx-background-color: #00C6AD;
    -fx-padding: 0 ;
}

.icon-cell{
}

.game-grid-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 5 5 5 ;
}

.game-grid-cell.first-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 0 5 5 0 ;
}

.game-grid-cell.second-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 0 5 5 5 ;
}

.game-grid-cell.third-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 0 0 5 5 ;
}

.game-grid-cell.fourth-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 5 5 0 ;
}

.game-grid-cell.sixth-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 0 5 5 ;
}

.game-grid-cell.seventh-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 5 0 0 ;
}

.game-grid-cell.eighth-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 5 0 5 ;
}

.game-grid-cell.ninth-cell{
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 0, 5 0 0 5 ;
}


/*
.gameBackground{
    -fx-background-color: #00C6AD;
}

.game-grid {
    -fx-background-color: #00C6AD;
    -fx-padding: 10 ;
}
.game-grid-cell {
    -fx-background-color: #00A893, #00C6AD ;
    -fx-background-insets: 5, 0 10 10 0 ;
}
.game-grid-cell.first-row {
    -fx-background-insets: 0, 10 10 10 0 ;
}
.game-grid-cell.first-column {
    -fx-background-insets: 0, 0 10 10 0 ;
}
.game-grid-cell.first-row.first-column {
    -fx-background-insets: 0, 10 ;
}

.game-grid-cell.last-row.last-column {
    -fx-background-insets: 0, 0 0 0 0 ;
}*/
